body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: antiquewhite;
}
#head_title{
    height: fit-content;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    background-color: lightskyblue;
    border: 2ps solid lightskyblue;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.heading{
    width: 99.8%;
    margin-top: 5px;
    background-color: orange;
    border-radius:5px;
}
.node_whole1{
    border: 5px solid aqua;
    background-color: white;
    height: 50px;
    width:88px;
    padding:2px;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
}
.node_whole{
    border: 5px solid aqua;
    background-color: white;
    height: 50px;
    width:88px;
    padding:2px;
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 10px;
    float: left;
}
.Null{
    height: 20px;
    font-size: 20px;
    width:48px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    text-align: center;
}
.value{
    border: 2px solid black;
    border-radius: 5px;
    background-color: red;
    height:45px;
    width:40px;
    float: left;
    display: flex;
    justify-content: center;
}
.pointer{
    border: 2px solid orange;
    border-radius: 5px;
    background-color:blue;
    height:45px;
    width:40px;
    float: left;
}
.dot{
    margin: 15px;
    margin-top: 20px;
    height: 5px;
    width: 5px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
}
.icon_arrow{
    width:70px;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
    position: relative;
    float: left;
}
.icon_arrow:after{
    content:"";
    display:inline;
    width:30px;
    height:4px;
    border-radius: 2px;
    background-color: #000;
    transform:rotate(45deg);
    position: absolute;
    right: -4px;
    bottom: 10px;
}
.icon_arrow:before{
    content:"";
    display:inline;
    width:30px;
    height:4px;
    border-radius: 4px;
    background-color: #000;
    transform:rotate(-45deg);
    position: absolute;
    right: -4px;
    bottom: -10px;
}
/* body{
    margin: 10px;
    margin-top: -20px;
} */
.array1,.array2,#merging_head{
    padding-top: 8px;
    padding-left: 5px;
    background-color:violet;
    width: 99.5%;
    height: 40px;
    /* margin-bottom: 5px; */
    border-radius:5px;
}
input:focus{
    border: 5px solid bisque;
    height:20px;
}
input:hover{
    font-size:15px;
}
#linked_list1,#linked_list2,#linked_listf{
    padding:2px 5px 5px 5px;
    width: 99%;
    height:100px;
    /* border: 2px solid rgb(36, 102, 210);
    border-radius: 5px; */
    /* margin-bottom: 5px; */
    margin-right: 20px;
}
button:hover{
    background-color: green;
    box-shadow: 10px 10px 5px #888;
    font-size: 20px;
}
input{
    box-shadow: 4px 4px 2px #888;
}
button{
    box-shadow: 4px 4px 2px #888;
    transition:font-size 0.3s;
}
input:hover{
    box-shadow: 5px 5px 5px #888;
}
#merge_btn{
    margin-top: 0px;
    padding-bottom: 0px;
}
.navbar {
    overflow: hidden;
    background-color:darkgrey;
    border: 1px solid rgb(9, 189, 159);
    size-adjust:inherit;
    border-radius: 2px 5px 5px 2px;
  }
  
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
.random{
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
	font-weight: bolder;
	background-color: #6f459e;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: white;
	/* margin-left: 37vw;
	margin-top: 4vw;
	margin-right: 1vw; */
}
